
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    max-width:100vw;
}

.main-body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    /* margin-bottom: 100rem;   */
    position: relative;
   
}

.header {
    display: flex;

    justify-content:space-between;
 
    
}
.main-logo{
    display: flex;
    margin-left: 18rem;
    margin-top: 1.5rem;
    color: white;
}
.nav-bar{
  
    display: flex;
    padding-top: 5px;
    /* justify-content: space-between;
    gap: 1; */
    /* margin-right: 18rem; */
    color: white;
    
}
.visible{
  display: none;
}
.nav-bar-list{
  font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 2rem;
margin-top: 2rem;
margin-left: -30rem;
}
.background-image
{
    position: absolute;
    background-color: rgba(218, 32, 32, 0.171);  
    background-image: cover;
    background-repeat: no-repeat;
    min-height:30rem;
    max-height:30rem;
    z-index: -1;
    width:100%;
    filter: brightness(60%);
    object-fit: cover;
  }
.sub-title{
    padding:1rem;
    margin-left: 15rem;
    margin-top: 5rem;
    line-height: 1.5;
}
.s-t1{
    display:flex;
    padding-top: 0;
    font-size: 25px;
    color:#ffffff;
}
.s-t2{
    display:flex;
    color:#ffffff;
    font-size: 15px;
}
.s-t3{
    display: flex;
   background-color: #007bb6;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    
    margin: 2rem 0rem 0rem 0rem;   
}
.s-t4{
    display: flex;
    display: inline-block;
    margin: -20rem 0rem 0rem 1rem;  
    color: white;
    font-size: 10px; 
}
.columns
{
    display: flex;
    justify-content: center;   
    gap:2rem;
     margin-top: 2rem;
     margin-left: -1rem;
}

.cl1
{
    font-size: small;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15rem;
    padding: 1rem;
    height: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .cl1-head{
    padding-left: 5px;
    padding-bottom: 5px;
    
  }
  .cl1-para{
    padding-left: 5px;
    margin-top: 1rem;
    color: #8a8a8a;
  }
.cl1-icon
{
    font-size: 50px;
    border-radius: 1px;
    padding: 5px;
     
}
.cl1-button{
  margin-top: 1rem;
  margin-left: 5px;
  font-size: 10px ;
}
.cl-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.agency-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  


 
}
.wrapper{

  display: flex;
  justify-content: center;
}
 .whyus{
  margin-left: 1rem;
 width: 25vw;
  line-height: 2.08; 


} 
.agency{ 
  line-height: 2.2; 
  

} 

.image2{
       
} 

.image-paragraph1{
    /* margin: -20rem 0rem 0rem 34rem; */
    color: #64a4ec; 
    font-family: sans-serif;
    
}
.image-paragraph2{
    /* margin: 1.5rem 4rem 0rem 36rem; */
    color: #b1b1b1; 
}
.image-paragraph3{
    /* margin: 1.8rem 0rem 0rem 34rem; */
    color: #000000; 
    font-family: sans-serif;
}
.grey-row-numbers{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
    background-color: #f3f3f3;
    text-align: center;
    padding: 3rem;
    margin-top: 5rem;
    
}
.grey-row-numbers1{
  

}
.grey-row-numbers1-number{
    
    color: #4451ff;
    font-size: 1.5rem;
    object-fit: cover;
}
.grey-row-numbers1-line{
    color: #6d6d6d;
}

.grey-row-numbers2-number{
    
    color: #4451ff;
    font-size: 1.5rem;
}
.grey-row-numbers2-line{
  color: #6d6d6d;
}

.grey-row-numbers3-number{
    color: #4451ff;
    font-size: 1.5rem;
}
.grey-row-numbers3-line{
  color: #6d6d6d;
}
.the-leadership{
        font-weight: bold;    
        font-size: 1.1rem;
        text-align: center;
     padding: 5rem;
}

.the-leadership-pictures
{ 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}
.border{
  
  background-color: #ffffff;
  position: absolute;
  margin-top: -5rem;
  padding: 0.9rem;
margin-left: 3rem;
}


.the-leadership-pictures-row1{
    background-color: #ffffff;
}


.the-leadership-pictures-row1-image
{
  width:30vw;
}

.the-leadership-pictures-row1-image-white1{
    
    
    font-weight: bold;
    
}
.the-leadership-pictures-row1-image-white2{
    
    color: rgb(90, 90, 90);
}
.comma{
    font-size: 5rem;
    text-align: center;

}
.comma-paragraph{
    text-align: center;

}
.italian{
  text-align: center;
  
  }
.comma-container{
  display: flex;
  flex-direction: column;
  width: 70vw;
padding-left: 25rem;
font-size: 15px;
padding-bottom: 5rem;

}
.big-grey-row{
    
    display: flex;
 
   justify-content: center;

   background-color: #8f1414;
}
.happy-customers{
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  padding: 3rem;

}
.our-services{
    text-align: center;
     padding-bottom: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
  
   
    
}
.six-box{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 5rem;
    flex-direction: column;
    line-height: 1.5;
}
.box-modifier1{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

.box-modifier2{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}

.box-1{
 padding: 1rem;
justify-self: center;
text-align: center;
width: 20vw;
}
.blog-paragraph{
  text-align: center;
  padding-bottom: 5px;
  color: #6e6e6e;
  
}
.images{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;

object-fit: cover;


}

.images1{
  display: flex;
  flex-direction: row;
   /* position: relative;
   
   right: 6.6rem; */

}
.pic1{  
      
      /* background-size: cover;
      background-repeat: none; */
      width: 30vw;
      object-fit: cover;

/* position: absolute; */
z-index: 1;

}
.pic2{
  width: 50vw;
  
  /* position: absolute;
  left:19.3rem; */

}
.images2{
  display: flex;
  /* position: relative;

  bottom: 0.5rem; */
}

.pic3{
  width: 50vw;
  
  /* position: absolute;  
  position: relative;
   */
  /* position: relative; */
 /* left: 6rem; */
}
    
  
.pic4{
  
  background-size: cover;
  background-repeat: none;
  width: 30vw;
  object-fit: cover;
  }

.site-footer
{
    text-align: center;
  background-color:#ececec;
  padding:45px 0px 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 
}
.site-footer h6
{
  color:rgb(46, 46, 46);
  font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:rgb(0, 0, 0);
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (max-width: 803px ){
  .images1{
  
   /margin: 0rem 0rem 0rem 0rem;
  }
  .images2{
    /* margin: 0rem 0rem 0rem 35rem; */

  }
  .images{
    margin: 0rem 0rem 0rem 0rem;
  }

}

@media screen and (max-width: 828px ){
  .columns
  {
      display: flex;
      justify-content: center;   
      gap:2rem;
       margin-top: 2rem;
       margin-left: 0rem;
  }
}

@media screen and (max-width: 850px ){
  
  /* .nav-bar{
    
    padding-top: 5px;
     justify-content: space-between;
    gap: 1; 
    margin-right:  -8rem;
    color: white;
  } */
  .main-logo{
    display: flex;
    margin-left: 1rem;
    margin-top: 2.2rem;
    color: white;
  }
  }


@media screen and (max-width: 1000px ) {
 .nav-bar{
  display: flex;
  padding-top: 5px;
  /* justify-content: space-between;
  gap: 1; */
  /* margin-right: 18rem; */
  color: white;
}
.main-logo{
  display: flex;
  margin-left: 10rem;
  margin-top: 2.2rem;
  color: white;
}
.comma-container{
  display: flex;
  flex-direction: column;

font-size: 15px;

}

  .sub-title{
    padding:1rem;
    margin-left: 8.5rem;
    margin-top: 5rem;
    line-height: 1.5;
}
.images{
  margin-right: 6rem;
}
}

@media screen and (max-width: 900px ){
  .sub-title{
    padding:1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    line-height: 1.5;
}
.main-logo{
  display: flex;
  margin-left: 6.5rem;
  margin-top: 2.2rem;
  color: white;
}

}
@media screen and (max-width: 909px ){
  .images{
    display: flex;
   flex-direction: column;
   margin: 0rem 0rem 0rem 0rem;
  }
  }

@media screen and (max-width: 910px ){
.pic4{
  margin-left: -0.02em;
}
}

@media screen and (max-width:767px)
{
  .image-paragraph2
  {
    width:27rem;
  }
}

@media screen and (max-width:445px)
{
  .image-paragraph2
  {
    width:22rem;
  }
}


@media screen and (max-width:697px)
{
  .the-leadership-pictures-row1-image
  {
    width:50vw;
  }
}


@media screen and (max-width:465px)
{
  .the-leadership-pictures-row1-image
  {
    width:60vw;
  }  
}


@media screen and (max-width: 770px ) { 
.header{
  background-color: #29aafe;
}
.main-logo{
          float: left;
          margin-left: 2rem;
          color: white;
          
}
 .nav-bar-list{

  

}
.nav-bar{
  display: none;
}
.visible{
  font-size: 1rem;
  padding: 2REM;
  z-index: 1;
}

.background-image{
  height: 10vh;
  width: 100vw;
  z-index: -1;
}

.sub-title
{
font-size: 5px;
margin-left: 2rem;
}

.s-t1{
  
  color: #ffffff
}
.s-t2{
  color: #ffffff;
}
.s-t3{

 background-color: #007bb6;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 10px;
  
  margin: 2rem 0rem 0rem 0rem;   
}

.s-t4{
  color: #000000;
}
.columns
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agency-container{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */

}
.image2{
 
}
.wrapper{
flex-direction: column;

}
.agency{
  
  flex-direction: column;
     
}
.whyus
{
  /* flex-direction: column  ; */
  line-height: 1.9;
  /* width: 100vw; */
}
.image-paragraph2{

}
.grey-row-numbers{
  

  flex-direction: column;
}
.grey-row-numbers1
{
    
}
.grey-row-numbers1-line{
  
}
.grey-row-numbers2{
    margin-top: 1rem;
}
.grey-row-numbers3{
  margin-top: 1rem;
} 
.the-leadership{

}
.the-leadership-pictures{
  display: flex;
  
  font-size: 10px;
  justify-content: space-evenly;
  flex-direction: column;
}
.the-leadership-pictures-row1{
  
}
.the-leadership-pictures-row1-image-white1{
  
}
.the-leadership-pictures-row1-image-white2
{
  
}

.comma-paragraph{

  
}
.our-services{
  
}
.box-modifier1{
  flex-direction: column;

}
.box-modifier2{
  flex-direction: column;
}
.box-1{
  margin-top: 0;
  line-height: 1.1;
 width: 100%;
}
.images3
{
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem 0rem; 
  width: 50vw;
}
.pic1{
  flex-direction: column;
  margin: 0rem 0rem 0rem 0rem; 
}
.visible{

  display: block;
}
.pic2{
  left: 13rem;
}
.images{
  flex-direction: column;
}
}
