
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    max-width:100vw;
}

.main-body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    /* margin-bottom: 100rem;   */
   
    position: relative;
   
}

.header {
    display: flex;
    padding: 1.25rem;
    justify-content:space-between;
    background-color: #9e9c9c;
    
}
.main-logo{
    display: flex;
    margin-left: 18rem;
}
.nav-bar{
    display: flex;
    /* margin-right: 18rem; */
}
.nav-bar-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 0.7rem;

}
.background-image
{
    position: absolute;
    background-color: rgba(218, 32, 32, 0.171);  
    background-image: cover;
    background-repeat: no-repeat;
    min-height:30rem;
    max-height:30rem;
    z-index: -1;
    width:98.9vw;
    filter: brightness(60%);
    object-fit: cover;
  }
.sub-title{
    padding: 6rem;
    margin-left: 10rem;
    margin-top: 9rem;
   
}
.s-t1{
    display:flex;
    
    font-size: 25px;
    color:#ffffff;
}
.s-t2{
    display:flex;
    color:#ffffff;
  
    font-size: 15px;
}
.s-t3{
    display: flex;
   background-color: #007bb6;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    margin: 1rem 0rem 0rem 0rem;   
}
.s-t4{
    display: flex;
    display: inline-block;
    margin: -20rem 0rem 0rem 1rem;   
}
.columns
{
    display: flex;
    justify-content: center;   
    gap:2rem;
     margin-top: -5rem;
     margin-left: -1rem;
}

.cl1
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15rem;
    padding: 1rem;
    height: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cl1-icon
{
    border-radius: 1px;
    padding: 5px;
    font-size: 5rem;   
}
.cl-info
{
    display: flex;
    flex-direction: column;
}
.agency-container{
  display: flex;
  flex-direction: row;
  margin: 3rem 0rem 0rem 1rem; 
 
}
 .whyus{
  margin: 1rem 0rem 0rem 2rem;
  padding-right: 10rem;
  line-height: 2.2; 

} 
.agency{ 
  line-height: 2.2; 
    margin: 0rem 0rem 0rem 5rem;   
} 

.image2{
    margin: 0rem 0rem 0rem 0rem;           
} 

.image-paragraph1{
    /* margin: -20rem 0rem 0rem 34rem; */
    color: #64a4ec; 
    font-family: sans-serif;
    font-weight: bold;
}
.image-paragraph2{
    /* margin: 1.5rem 4rem 0rem 36rem; */
  
    color: #b1b1b1; 
    
}
.image-paragraph3{
    /* margin: 1.8rem 0rem 0rem 34rem; */
    color: #000000; 
    font-family: sans-serif;
    font-weight: bold;
}
.grey-row-numbers{
    display: flex;
    
   
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    margin: 10rem 0.1rem 0rem 0.1rem;
    background-color: #f3f3f3;
}
.grey-row-numbers1{
    width: 17vw;

    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height:18vh ;
    margin: 1.5rem 0.5rem 0rem 0.5rem;
  
}
.grey-row-numbers1-number{
    
    color: #4451ff;
    font-weight: bold;
    font-size: 2rem;
    margin: -4rem 0rem 0rem 5rem;
}
.grey-row-numbers1-line{
    color: #4451ff;
    margin: 0.5rem 0rem 0rem 3.45rem;
}
.grey-row-numbers2{
    width: 17vw;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height:18vh ;
    margin: 1.5rem 0.5rem 0rem 0.5rem;
}
.grey-row-numbers2-number{
    
    color: #4451ff;
    font-weight: bold;
    font-size: 2rem;
    margin: -4rem 0rem 0rem 5rem;
}
.grey-row-numbers2-line{
    
    color: #4451ff;
    margin: 0.5rem 0rem 0rem 4rem;
}
.grey-row-numbers3{
    width: 17vw;
    
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height:18vh ;
    margin: 1.5rem 0.5rem 0rem 0.5rem;
    
}
.grey-row-numbers3-number{
    
    color: #4451ff;
    font-weight: bold;
    font-size: 2rem;
    margin: -4rem 0rem 0rem 5rem;
}
.grey-row-numbers3-line{
    
    color: #4451ff;
    margin: 0.5rem 0rem 0rem 4rem;
}

.the-leadership{
        font-weight: bold;    
        font-size: 1.1rem;
        margin: 8rem 0rem 0rem 0rem; 
        text-align: center;
}
.the-leadership-pictures{
    display: flex;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    margin: 1rem 0.1rem 0rem 0.1rem;
    background-color: #ffffff;
}
.the-leadership-pictures-row1{
  
    width: 21vw;
    background-color: #ffffff;
    margin-top: -100rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    margin: 1.5rem 0.5rem 0rem 0.5rem;
    
}
.the-leadership-pictures-row1-image{
    margin: -4.5rem 0.5rem 0rem 0.5rem;
    position: relative;
    width: 20vw;

    background-image: cover;
}
.the-leadership-pictures-row1-image-white1{
    
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
  
    background-color: #ffffff;
    margin: -4rem 0.5rem 0rem 2rem;
    position: relative;
    font-weight:bold ;
    text-align: center;
    
}
.the-leadership-pictures-row1-image-white2{
    
       justify-content: center;
    text-align: center;
    background-color: #ffffff;
    margin: 0rem 0.5rem 0rem 2rem;
    position: relative;
    color: rgb(90, 90, 90);
}
.comma{
    font-size: 10.1rem;
    text-align: center;
      
      
}
.comma-paragraph{
    text-align: center;


}
.italian{
    text-align: center;

    font-style: italic;
}
.big-grey-row{
    
    display: flex;
   padding-bottom: 15rem;
   padding-left: 0rem;
   padding-right: 0rem;
   justify-content: center;
   margin: 1rem 0.1rem 0rem 0.1rem;
   background-color: #f3c0c0;
}
.happy-customers{
  font-weight: bolder;
  font-size: 1.5rem;

}
.our-services{
    text-align: center;
    margin: 5rem 0rem 0rem 0rem; 
    font-weight: bolder;
    font-size: 1.5rem;
   
    
}
.six-box{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 3rem;
}
.box-modifier{
  
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  
}
.box-1{
  width: 25vw;
text-align: center;
margin: 7rem 0.3rem 1.1rem 1.1rem; 

}
.images3{

margin: 40rem 10rem 40rem 50rem; 
justify-items: center;
}
.pic1{
  margin-left: 12rem;
}
.site-footer
{
    text-align: center;
  background-color:#ececec;
  padding:45px 0px 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 
}
.site-footer h6
{
  color:rgb(46, 46, 46);
  font-size:16px;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:rgb(0, 0, 0);
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media screen and (max-width: 770px ) {
.header{
  background-color: #29aafe;
}
.main-logo{
          float: left;
          margin-left: 0rem;
          color: white;
}
.nav-bar-list{
  
  display: none;
}
.background-image{
  height: 10vh;
  width: 100vw;
}
.sub-title{
  margin: 3rem 0rem 8rem -4rem;   
font-size: 8px;
}
.s-t1{
  display:flex;
  color: #ffffff
}
.s-t2{
  color: #ffffff;
}
.s-t4{
  color: #000000;
}
.columns{
  display: flex;
  flex-direction: column;
  margin: -10rem 0rem 0rem 2rem;  
}
.agency-container{
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem 0rem -15rem;  
}
.image2{
 max-width: 10rem;
 min-width: 10rem;
  margin: 0.01rem 0rem 0rem -1rem;  
}
.agency{
  padding-left: 1rem;
  margin: 0rem 0rem 0rem 15rem;    
}
.whyus{
  margin: 0rem 0rem 0rem 19rem;  
  line-height: 1.9;
width: 100vw;
text-align: left;
}
.image-paragraph2{
  
  margin-top: 3;
}
.grey-now-numbers{
  display: flex;
  justify-content: center;


}
.grey-row-numbers1-number
{

 margin: -4.9rem 0rem 0rem -11rem;   
}
.grey-row-numbers1-line{
  margin: 0rem 0rem 0rem -12.5rem;  
}
.grey-row-numbers2{
  margin: 5rem 0rem 0rem -19.5rem;  
}
.grey-row-numbers3{
  margin: 13rem 0rem 0rem -4rem;  
} 
.the-leadership{
  margin: 2rem 0rem 0rem 0rem; 
}
.the-leadership-pictures{
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center
}
.the-leadership-pictures-row1{
  width: 100vw;
}
.the-leadership-pictures-row1-image-white1{
  background-color:none;
  opacity: 0.5;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.the-leadership-pictures-row1-image-white2
{
  background-color:none;
  opacity: 0.5;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.comma{
  margin: -5rem 0.5rem 0rem -1rem;
}
.comma-paragraph{
  width: 50vw;
  margin: 0rem 0.5rem 0rem 5.5rem;
}
.our-services{
  margin: 5rem 0rem 0rem 0rem; 
}
.box-1{
  margin-top: 0;
  line-height: 1.1;
 width: 110vw;
}
.images3
{
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem 0rem; 
  width: 50vw;
}
.pic1{
  flex-direction: column;
  margin: 0rem 0rem 0rem 0rem; 
}


}
